<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
 <connectionStrings>
  <add name="BusinessLogicLayer.Properties.Settings.WebsiteConnectionString"
   connectionString="Data Source=mssql.tweakhere.com,1533;Initial Catalog=galaxyenclave;Persist Security Info=True;User ID=tweakhere_insti;Password=India@123!@#"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
