<html>
<head>
    <title>EMI Application</title>
    <style type="text/css">
        * { font-family: Verdana; }
    </style>
</head>
<body>
    <div style='margin: 20px 10px; border: solid 1px #1f1f1f; border-radius: 12px; padding: 15px;
        color: #000;'>
        <p>
            Hello ,</p>
        <p>
            One of customer enquired for EMI Card with following details:</p>
        <table style='color: #9b9b9b; font-size: 14px;'>
            <tr>
                <td>
                    Customer Name:
                </td>
                <td>
                    ##Name##
                </td>
            </tr>
            <tr>
                <td>
                    Mobile:
                </td>
                <td>
                    ##Mobile##.
                </td>
            </tr>
            <tr>
                <td>
                    Username:
                </td>
                <td>
                    ##Username##.
                </td>
            </tr>
        </table>
    </div>
</body>
</html>
