<html>
    <head>
    <title>Password Recovery</title>
        <style type="text/css">
            * { font-family: Verdana; }
        </style>
    </head>
   <body style='background-color: #000000;'>
    <div style=''>
        <img src='##url##/images/logo.png' height='90' /></div>
    <div style='margin: 20px 10px; border: solid 1px #1f1f1f; border-radius: 12px; padding: 15px;
        background-color: #0f0f0f; color: #ffffff;'>
        <p>
            Hello ##Name## ,</p>
        <p>
            Find below your login information:</p>
        <table style='color:#9b9b9b; font-size:14px;'>
            <tr>
                <td>Login ID: </td>
                <td>##PromoterId##</td>
            </tr>
            <tr>
                <td>Mobile: </td>
                <td>##Mobile##.</td>
            </tr>
            <tr>
                <td>Password: </td>
                <td>##Password##.</td>
            </tr>
            <tr>
                <td>Wallet Password: </td>
                <td>##Password##.</td>
            </tr>
        </table>
        <p>
            To login use this link: <a href='##url##' style='color: #ffff00;'>##companyname##</a></p>
            <hr /><br /><br />
    </div>
    </body>
</html>
