<html>
<head>
    <style>
        p { font-family: Verdana; }
    </style>
</head>
<body>
    <h2>
        Welcome to ##companyname##</h2>
    <p>
        Dear ##Name## ,</p>
    <p>
        We extend our heartful gratitude to you for joining ##companyname## and value your
        association with us.We assure you that joining with us shall lead u to the path
        of success and prosperity fulfilling your hidden needs and dreams. ##companyname##
        is the concept where everyone feels responsible for sharing the benefit of this
        set up.With just two (or many more) joining one starts sharing the benefits.Your
        recommendation to your near and dear one will open the gate of infinite earning
        to all.</p>
    <p>
        We would once again congratulate you on your brilliant choice of joining Esteem
        Capital.
    </p>
    <h3>
        Your Login details:</h3>
    <table>
        <tr>
            <td>
                Your ID:
            </td>
            <td>
                ##PromoterId##
            </td>
        </tr>
        <tr>
            <td>
                EMail:
            </td>
            <td>
                ##mail##
            </td>
        </tr>
        <tr>
            <td>
                Payment Mode
            </td>
            <td>
                ##PaymentMode##
            </td>
        </tr>
        <tr>
            <td>
                Password:
            </td>
            <td>
                ##Password##
            </td>
        </tr>
        <tr>
            <td>
                Wallet Password:
            </td>
            <td>
                ##Password2##
            </td>
        </tr>
    </table>
    <p>
        You can login to your account any time. Please visit our website and click on the
        'Login' link on our home page. If you have forgotten your password, you can recover
        it using 'Forgot Password' option at ##url##/recover-password.aspx
    </p>
    <p>
        Should you have any questions or concerns, please feel free to visit our Customer
        Support at ##url##/contact-us.html
    </p>
    <p>
        Thank you and welcome again to ##companyname##</p>
    <p>
        Best Wishes <br />
        ##companyname##
    </p>
</body>
